*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.w3-teal{
    left: 0px;
}

.w3-sidebar{
    left: 0px;
}


.sidebarBtn{
    border: none;
    font-size: large;
    display: block;
    width: 199px;
    border-radius: 0%;
    padding: 10px;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
   
   
    
}


#closebtn{
    right: 0px;
    background-color: #062522 ;
}


.active {
    background-color:turquoise;
  }


.contentSection{
    background-color:aliceblue;
    height: 100vh;
}

