.dropdown-menu.show {
  margin-left: -153px;
}
.navbar-nav {
  flex-direction: row;
}
.card {
  align-items: center;
  border: 1px solid darkgray;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.clshead {
  border-bottom-style: ridge;
  text-align: initial;
  margin-left: 16px;
}
