.dropdown-menu.show {
  margin-left: -153px;
}
.navbar-nav {
  overflow: hidden;

}
.card {
  align-items: center;
  border: 1px solid darkgray;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.clshead {
  border-bottom-style: ridge;
  text-align: initial;
  margin-left: 16px;
}
 
#contentSection{
  background-color:white;
  height: auto;
  min-height: 1000px;
}
/* 
@media only screen and (max-width: 768px) {
  .contentSection {
  min-height: 700px;
  }
  
}

@media only screen and (min-width: 368px) {
  .contentSection {
  min-height: 1000px;
  }
  
} */